.categories {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;

  .col {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
  }

  .col-l {
    flex: 2;
  }

  .row {
    flex: 1;
    gap: 10px;
    display: flex;
    position: relative;
    overflow: hidden;

    button {
      position: absolute;
      min-width: 100px;
      width: fit-content;
      height: 50px;
      padding: 10px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
      border: none;
      border-radius: 5px;
      color: teal;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .2s ease-in-out;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}
