.footer {
  padding: 100px 200px 20px 200px;
  display: flex;
  flex-direction: column;
  background-color: #ededed;

  .top {
    display: flex;
    gap: 50px;

    .item {
      display: flex;
      flex: 1;
      text-align: justify;
      font-size: 14px;
      gap: 10px;
      flex-direction: column;

      h1 {
        font-size: 18px;
        font-weight: 600;
        color: #555;
      }

      span {
        color: gray;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    .left {
      display: flex;
      align-items: center;

      .logo {
        color: blue;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .center {
      .copyright {
        color: gray;
        font-size: 14px;
      }
    }
  }
}
