* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f5f5f7;
  .wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .center {
      align-items: center;
      letter-spacing: 2px;

      a {
        h2 {
          font-size: 50px;
          font-weight: 700;
          letter-spacing: normal;
          // background-clip: text;
          // -webkit-background-clip: text;
          // color: transparent;
          // background-image: url("../../../public/images/back.jpg");
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #777;
        cursor: pointer;
      }

      .cartIcon {
        display: flex;
        position: relative;

        span {
          display: flex;
          justify-content: center;
          width: 20px;
          height: 20px;
          align-items: center;
          color: white;
          background-color: blue;
          position: absolute;
          border-radius: 50%;
          top: -12px;
          left: 12px;
        }
      }
    }
  }
}
